{% extends 'base.html' %}

{% block content %}

<!-- About Section -->

<div id="about">

  <div class="container">

    <div class="col-md-8 col-md-offset-2 section-title text-center">

      <h2>About Us</h2>

      <p>Many candidates struggle to find placement. We believe that this is because many candidates may struggle to find the correct information. Though this information can be found on google, too much irrelevant information easily discourage many candidates and in turn some may struggle to find graduation programs, internships and bursaries that are suitable to them. Also in some instances, the companies may be looking for a perfect candidate but there is  little to no platform that allows companies to go into the market and find the candidates they want.Hence, HaG makes it easier for University students, College students and Unemployed graduates to find graduation programs and internships, it helps Grade 12 learners find suitable bursaries or scholarship. HaG also gives employers the capacity to go into the market space and recruit the perfect candidates.
</p>

    </div>

    <div class="row">

      <div class="col-xs-12 col-md-6"> <img src="../static/img/about.jpg" class="img-responsive" alt=""> </div>

      <div class="col-xs-12 col-md-6">

        <div class="about-text">

          <h4>Who We Are</h4>

          <p>HaG is a web application designed to ensure that Grade 12 lenears, University students and unemployed graduates obtain placement, by making bursaries, internships and graduate programs visible and attainable to them. This platform is created to ensure an easy recruitment process for both the employers and the employees.</p>

          <h4>What We Do</h4>

          <p>We create an easy and visible link between the candidates and the recruiters.</p>

          <h4>Why Choose Us</h4>

          <p>HaG will ensure correct and reliable information is relayed to both the candidates and recruiters, making the recruitment process easier. This will help candidates get the correct information about opportunities more efficiently.
</p>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- Team Section -->

<div id="team" class="text-center">

  <div class="container">

    <div class="col-md-8 col-md-offset-2 section-title">

      <h2>Meet the Team</h2>

      <p>Our team is made up young and vibrant people with diverse skills ranging from software development, system design, strategic management, organizational skills, marketing skills and most importantly a passion for young people and education.
</p>

    </div>

    <div id="row">

      <div class="col-md-3 col-sm-6 team">

        <div class="thumbnail"> <img src="../static/img/team/namhla.jpg" alt="..." class="img-circle team-img">

          <div class="caption">

            <h3>Namhla Mabombo</h3>

            <p>Senior Partner and Chief Strategiest</p>

          </div>

        </div>

      </div>

      <div class="col-md-3 col-sm-6 team">

	 <div class= "thumbnail"> <img src="..static/img/team/sinethemba.jpg" alt="..." class="img-circle team-img">

          <div class="caption">

            <h3>Sinethemba Paula</h3>

            <p>Senior Partner and Software Excutive</p>

          </div>

	</div>

      </div>

      <div class="col-md-3 col-sm-6 team">

        <div class="thumbnail"> <img src="../static/img/team/nangamso.jpg" alt="..." class="img-circle team-img">

          <div class="caption">

            <h3>Nangamso Gxanase</h3>

            <p>Chief Financial Officer</p>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


{% endblock %}
