{% extends 'base.html' %}


{% block login_form %}
    {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>

    {% endif %}
{% endif %}

<div class="container">
    <div class="row">
                    <form method="post" action="{% url 'login' %}">
{% csrf_token %}

                        <p class="bs-component">
                            <table>
                                <tr>
				  <tr>
                                     <td>{{ form.username.label_tag }}</td>
				      <td>{{ form.password.label_tag }}</td>
                                  </tr>
                                  <tr>
                                    <td>{{ form.username }}</td>
				    <td>{{ form.password }}</td>
				    <td> <input class="btn btn-success btn-sm" type="submit" value="login" /></td>
                                  </tr>
                                </tr>
                            </table>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
    </div>
</div>

{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}

